# Configuration for a zbook-g3-15

CONFIG_LINUX_CONFIG=config/linux-zbook-g3-15.config
CONFIG_COREBOOT_CONFIG=config/coreboot-zbook-g3-15.config

#Config Option to control firmware type to use the constructed heads image
export CONFIG_COREBOOT=y

#Config Flags which control modules built for heads initrd
CONFIG_CCRYPT=y
CONFIG_CRYPTSETUP=y
CONFIG_GPG2=y
CONFIG_KEXEC=y
CONFIG_LIBREMKEY=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_MSRTOOLS=y
CONFIG_PINENTRY=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_UTIL_LINUX=y
CONFIG_ZFS=y
CONFIG_SEDUTIL=y

# Config Flags which determine linux modules for including
CONFIG_LINUX_USB=y

# Config Flags which control init flow sequence
export CONFIG_ZFS=y
export CONFIG_TPM=y
export CONFIG_LUKSDETACHED=y

# Config Flags which control heads options
export CONFIG_BOOTSCRIPT=/bin/generic-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD="intel_iommu=on"
export CONFIG_BOOT_KERNEL_REMOVE=""
export CONFIG_BOOT_DEV="/dev/nvme0n1p1"
export CONFIG_BOOT_GUI_MENU_NAME="bareMetal Heads Boot Menu"
export CONFIG_WARNING_BG_COLOR="--background-gradient 0 0 0 150 125 0"
export CONFIG_ERROR_BG_COLOR="--background-gradient 0 0 0 150 0 0"
export CONFIG_FLASHROM_OPTIONS="-p internal:laptop=force_I_want_a_brick,ich_spi_mode=hwseq"
